
.search-list-toggle{
  display: flex;
  justify-content: center;
  height:25px;
  background-color: #F4F7F6;
  cursor: pointer;
  border-radius: 15px;
  border-bottom: 1px solid #343A40;

}

.search-list-arrow{
  width: 15px;
  height: 12px;
}

.search-list-toggle span{
  margin-left: 100px;
  margin-right: 100px;
}

.search-list-toggle img{
  margin-top: 7px;
}

.search-list-filters-on{
  background-color: yellow;
  height: 160px;
}
.search-list-filters-off{
  display: none;
}


.search-list-checkbox-row{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.search-list-checkbox{
  margin-left: 40px;
  width:120px;
}

.search-list-checkbox input{
  height: 15px;
  width: 15px;

}
.search-list-checkbox input:checked{

}
.search-list-checkbox span{
  margin-left: 5px;
}
