.search-list-loading{
display: flex;

flex-direction: column;
justify-content: center;

  height: 600px;
  background-color: #F4F7F6;
}
.search-list-loading span{
  margin-left: auto;
  margin-right: auto;
  color:#dadfdd;

}
.search-list-loading-gif{
  width:200px;
  height:200px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.backtosearch {
    background: darkslategrey;
    color: white;
}

.ShowSpot {
    position: relative;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 1200px;
    padding: 25px;
    border: 1px solid black;
    background-color: rgb(211, 211, 211);

}

.Image-Map {
    width: 650px;
    height: 800px;
    display: inline-block;
}

#showspot-image {
    width: 600px;
    height: 362.5px;
    margin: 25px;
    background-image: url('https://s6.postimg.cc/vhnlzsx4x/bb420260-666e-4997-9d3c-bb0b519f7e5c.jpg');
    background-size: 750px 362.5px;
    border: 1px solid black;
}

#showspot-map {
    width: 600px;
    height: 362.5px;
    margin: 25px;
    background: lightblue;
    border: 1px solid black;
}


.ShowSpot-Info {
    width: 400px;
    height: 750px;
    margin: 25px 0px;
    /* background: lightcoral; */
    border: 1px solid black;
}

#showspot-description {
    margin: 15px 0px;
    border: 1px solid black;
}
.show-spot-main-img{
  width: 400px;
  height: 200px;
  border-collapse:collapse;
  border-radius: 15px;
}
