.search-list-loading{
display: flex;

flex-direction: column;
justify-content: center;

  height: 600px;
  background-color: #F4F7F6;
}
.search-list-loading span{
  margin-left: auto;
  margin-right: auto;
  color:#dadfdd;

}
.search-list-loading-gif{
  width:200px;
  height:200px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.backtosearch {
    background: #F4F7F6;
    color: white;
}

.ShowSpot {
    position: relative;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 1200px;
    padding: 25px;
    /* border: 1px solid black; */
    background-color: #F4F7F6;

}

.Image-Map {
    width: 400px;
    height: 600px;
    margin-right: 25px;
    display: inline-block;
}

.myMapComponent {
    margin-top: 25px;
    border: 1px solid black;
    /* border-radius: 15px; */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/* #showspot-image {
    width: 600px;
    height: 362.5px;
    margin: 25px;
    background-image: url('https://s6.postimg.cc/vhnlzsx4x/bb420260-666e-4997-9d3c-bb0b519f7e5c.jpg');
    background-size: 750px 362.5px;
    border: 1px solid black;
} */

#showspot-map {
    width: 600px;
    height: 362.5px;
    /* margin: 25px; */
    background: lightblue;
    border: 1px solid black;
}

.ShowSpot-Info h3 {
    color: rgba(36, 162, 181);
    border-radius: 15px 15px 0px 0px;
    background-color: black;
    padding: 7px 0px;
}

.Spot-Info {
    /* height: 300px; */
    margin: 25px 0px;
    /* text-shadow: 2px 2px silver; */
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    
}

.info-buttons {
    border-top: 1px solid black;
    width: 100%;
    position: relative;
    display: block;
    
}

.spot-info-body div {
    /* background-color: red; */
    display: inline-block;
}

.button-container {
    width: 100%;
    display: flex;
}


.Spot-Info h5 {
    margin: 15px 45px;
    text-align: left;
}

.reservation-form {
    
    margin: 25px 0px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    
    
}

.reservation-form h5 {
    margin: 15px 45px;
}

.ShowSpot-Info {
    width: 400px;
    border-radius: 15px;
}

#showspot-description {
    text-align: left;
    border-top: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    padding: 7px 0px;
    margin: 0px;
    padding-left: 45px;
    color: white;
    text-shadow: 2px 2px black;
    background-color: rgb(234,112,42);
    
}

.show-spot-main-img{
    width: 400px;
    height: 200px;
    border-collapse:collapse;
    border-radius: 15px;
    margin: 25px 0px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#show-spot-button {
    
    background-color: rgb(234,112,42);
    color:white;
    font-size: 16px;
    text-shadow: 2px 2px black;
    border: 1px solid black;
    border-radius: 8px;
    /* margin: 8px; */
    margin: 5px 5px;
    width: auto;
    height: 35px;
}
